<%- include('./partials/head.ejs') %> 
  <body>
        <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>
   <div class="content">
       <h1 class="panel-title">Result History</h1>
       <table class="zui-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>2D</th>
                <th>3D</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
   <% if(data.length > 0) { %> <% data.forEach((d) => { %>
        <tr>
            <td><%= d.date %> </td>
            <td><%= d.time %> </td>
            <td><%= d.two_d %> </td>
            <td><%= d.three_d %> </td>
            <td style="display: flex;">
              <button style="margin-right: 5px;" onclick="location.href='/panel/his-rec/<%= d._id %>'">Edit</button>
              <button onclick="deleteRec(this)" data-id="<%= d._id %>" data-date="<%= d.date %>" data-time="<%= d.time %>">Delete</button>
          </td>
        </tr>
        <% }) %> <% } %>
        </tbody>
</table>
        
  <div style="margin-top: 20px">
        <a href="/panel" >Go Back</button>
    </div>
   </div>

   <script>
    function deleteRec(e){
      var id = e.getAttribute('data-id');
      var date = e.getAttribute('data-date');
      var time = e.getAttribute('data-time');
      if (confirm("Are you sure to delete data from " + date + " " + time) == true) {
          let xmlHttp = null;
          xmlHttp = new XMLHttpRequest();
          xmlHttp.open("DELETE", "/panel/his-rec/" + id, true);
          xmlHttp.send(null);
          setTimeout(() => {
            location.href = '/panel/his-rec'
          }, 500);
      } 
    }
   </script>

  </body>
</html>
