<%- include('./partials/head.ejs') %> 
  <body>
    <div class="header">
      <p>BKK <span>2D</span> <span>3D</span></p>
    </div>
    <div class="content">
    <h1 class="panel-title">Off Day Panel</h1>
    <table class="zui-table" style="margin-bottom: 10px">
      <thead>
          <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
 <% if(data.length > 0) { %> <% data.forEach((d) => { %>
      <tr>
          <td><%= d.date %> </td>
          <td><%= d.time %> </td>
          <td>
            <button onclick="deleteRec(this)" data-id="<%= d._id %>" data-date="<%= d.date %>" data-time="<%= d.time %>">Delete</button>
          </td>
      </tr>
      <% }) %> <% } %>
      </tbody>
</table>
     <form class="panel-form" action="/panel/offday" id="form" method="post">
          <input type="text" name="date" placeholder="01/12/2022">
          <div>
              <input type="radio" name="time" id="1"  value="8:00 AM"><label for="1">8:00 AM</label>
              <input type="radio" name="time" id="2" value="10:00 AM"><label for="2">10:00 AM</label>
              <input type="radio" name="time" id="3" value="12:00 PM"><label for="3">12:00 PM</label>
              <input type="radio" name="time" id="4" value="2:00 PM"><label for="4">2:00 PM</label>
              <input type="radio" name="time" id="5" value="4:00 PM"><label for="5">4:00 PM</label>
              <input type="radio" name="time" id="6" value="7:00 PM"><label for="6">7:00 PM</label>
              <input type="radio" name="time" id="7" value="10:00 PM"><label for="7">10:00 PM</label>
          </div>
           <button type="submit">
              Set
           </button>
       </form>
    </div>
    <script>
      function deleteRec(e){
        var id = e.getAttribute('data-id');
        var date = e.getAttribute('data-date');
        var time = e.getAttribute('data-time');
        if (confirm("Are you sure to delete off day at " + date + " " + time) == true) {
            let xmlHttp = null;
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open("DELETE", "/panel/offday/" + id, true);
            xmlHttp.send(null);
            setTimeout(() => {
              location.href = '/panel/offday'
            }, 500);
        } 
      }
     </script>
  </body>


</html>
